<hello *ngIf = "object.age < 18 ; else under18">{{object.name}}</hello>

<ng-template #under18>
  <div>
    <label for="">{{object.name}}</label>
  </div>
</ng-template>

<label>{{object.name}}</label>
<br>
<input type="text" [(ngModel)] = "object.name">

<button type="button" (click)="handler()">Click me</button>
<br>

<button (click) = "object.age = object.age - 1"> - </button>
  <input type="text" [value]="object.age">
<button (click) = "object.age = object.age + 1"> + </button>

<ul>  
  <ol *ngFor = "let u of users">{{u.name}}-{{u.id}}-{{u.address.zipcode}}- {{u.phone}}</ol>
</ul>
